@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

html {scroll-behavior: smooth;}
body {
  margin:0;
  background:black;
}


.navbar a {
  float: left;
  text-align: center;
  font-size: 20px;
  font-family: 'Manjari', sans-serif;
}

.landing-page{
	background-image: url('milky_way.jpg');
	padding: 120px 60px 60px 60px;
}

.greeting-box{
  background: rgba(0,0,0,0.7);
  padding: 50px 0px 30px 0px;
}
#dream{
  color:white;
  font-family: 'Staatliches', cursive;
  font-size: 100px;
}
#author{
	color: yellow;
}
#find-me, #greet{
  font-family: 'Manjari', sans-serif;
  color: white;
}
#find-me{font-size: 20px;}
#greet{font-size: 40px;}

#profile{
  color: white;
  padding: 50px 0px 0px 0px;
  font-family: 'Manjari', sans-serif;
  font-size: 20px;
}
#hello, #my-name{
  font-family: 'Staatliches', cursive;
  font-size: 60px;
  padding: 0px;
  margin: 0px;
}
#basic_info{
  background-image: url('meback.png');
}


#ed-item, #ex-item, #ach-item{
  text-align: center;
  color: white;
  font-family: 'Manjari', sans-serif;
  font-size: 25px;
  padding: 40px 0px 0px 0px;
}

#ex-item{background-image: url('me_back.png');}
#ed-item, #ach-item{background-image: url('me-back.png');}


#head-edu, #head-ex, #head-ach, #head-sk{
  font-family: 'Staatliches', cursive;
  font-size: 50px;
  padding: 10px;
  margin: 0px;
  color: white;
  text-align: center;
}
#head-edu{background: #4D34E8;}
#head-ex, #head-sk{background: #E0173B;}
#head-ach{background: #FFE13C;}

#education, #experience, #achievement, #skills{
  padding: 50px 0px 0px 0px;
}

#ed-highlight{color: #FFE13C;}
#ed-year{
  color: #E0173B;
  font-size: 20px;
}

#ex-highlight{color: #4D34E8;}
#ex-year{
  color: #FFE13C;
  font-size: 20px;
}

#sk-items{
  padding: 30px 50px 30px 50px;
  color: white;
  font-family: 'Manjari', sans-serif;
  font-size: 25px;
}

footer{
  color: white;
  font-family: 'Manjari', sans-serif;
}